CT_URL=http://mymychine:9000
LOCAL_URL=http://mymychine:3000
API_GATEWAY_URL=http://mymachine:9000
API_URL=http://mymachine:9000
API_GATEWAY_EXTERNAL_URL=http://mymachine:9000
API_GATEWAY_QUEUE_URL=redis://mymachine:6379
